extends menu-layout
block content
  h1 Employees Leaderboard
  div.content
    table(border="1")
      thead
        tr
          th Employees
          th # of Reminders
      tbody
        each Employee in Employees
          tr
            each value in Employee
              td #{value}