extends menu-layout

block content
  div.content
    h2 DataBase Project 2018 - 2019
    table(border="1")
      thead
        tr
          th Member
          th Registration Number
      tbody
        tr 
          td Antonios Valmas
          td 03116134
        tr 
          td Panagiotis Loulakis
          td 03116121
        tr 
          td Joseph Panagiotopoulos
          td 03116063

