extends layout

block menu
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item.dropdown 
          span.nav-link.dropdown-toggle Edit Library Data
          div.dropdown-menu
            div.dropdown-item
              span.nav-link Books
              div.dropdown-submenu
                div.dropdown-item.has-link
                  a.nav-link(href="/books/update") Update
                div.dropdown-item.has-link
                  a.nav-link(href="/books/insert") Insert
                div.dropdown-item.has-link
                  a.nav-link(href="/books/delete") Delete
            div.dropdown-item
              span.nav-link Members
              div.dropdown-submenu
                div.dropdown-item.has-link
                  a.nav-link(href="/members/update") Update
                div.dropdown-item.has-link
                  a.nav-link(href="/members/insert") Insert
                div.dropdown-item.has-link
                  a.nav-link(href="/members/delete") Delete
            div.dropdown-item
              span.nav-link Publishers
              div.dropdown-submenu
                div.dropdown-item.has-link
                  a.nav-link(href="/publisher/update") Update
                div.dropdown-item.has-link
                  a.nav-link(href="/publisher/insert") Insert
                div.dropdown-item.has-link
                  a.nav-link(href="/publisher/delete") Delete
        li.nav-item.dropdown
          span.nav-link.dropdown-toggle View
          div.dropdown-menu
            div.dropdown-item.has-link
              a.nav-link(href="/tmpEmployees") Temporary Employees
              div.dropdown-submenu
                div.dropdown-item.has-link
                  a.nav-link(href="/tmpEmployees/update") Update
                div.dropdown-item.has-link
                  a.nav-link(href="/tmpEmployees/insert") Insert (Not working)
                div.dropdown-item.has-link
                  a.nav-link(href="/tmpEmployees/delete") Delete (Not working)
            div.dropdown-item.has-link
              a.nav-link(href="/borrowedBooks") Currently Borrowed Books
        li.nav-item.dropdown
          span.nav-link.dropdown-toggle Explore
          div.dropdown-menu
            div.dropdown-item.has-link
              a.nav-link(href="/explore/books-list") Full Book List
            div.dropdown-item.has-link
              a.nav-link(href="/explore/books-per-category") Books per Category
            div.dropdown-item.has-link
              a.nav-link(href="/explore/books-per-publisher") Books per Publisher
            div.dropdown-item.has-link
              a.nav-link(href="/explore/available-books") Available Books
            div.dropdown-item.has-link
              a.nav-link(href="/explore/popular-authors") Popular Authors
            div.dropdown-item.has-link
              a.nav-link(href="#") Explore
            div.dropdown-item.has-link
              a.nav-link(href="#") Explore
            div.dropdown-item.has-link
              a.nav-link(href="#") Explore
            div.dropdown-item.has-link
              a.nav-link(href="#") Explore