extends menu-layout
block content
  h1 Temporary Employees
  div.content
    table(border="1")
      thead
        tr
          th Full Name
          th Contract Number
          th Salary
      tbody
        each tmpEmp in tmpEmps
          tr
            td #{tmpEmp.ELast} #{tmpEmp.EFirst} 
            td #{tmpEmp.ContractNr}
            td #{tmpEmp.Salary}